/* Style buttons */
.btn {
  background-color: DodgerBlue;
  border: 1em;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

.skip-nav{
  background: white; 
  padding: 0.5rem 1.5rem;
  border-radius: 0 0 0.25rem 0.25rem;
  transform: translateY(-170%);
  transition:245ms ease-in
}
.skip-nav:focus {
  transform: translateY(0)
}

/* Darker background on mouse-over */
.btn:hover {
  border-style:hidden;
  background-color: RoyalBlue;
}
.type{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #202020; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0em; /* Adjust as needed */
  animation: 
    typing 2s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #202020; }
}








body {
  background-color: #1c2333;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 26px;
  border: none;
  outline: none;
  color: white;
  padding: 24px 26px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: darkblue;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 260px;
  box-shadow: 0px 8px 26px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 22px 26px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each bralso */

/* Facebook */
.fa-twitter {
  color: white;
}

.card {
	margin-left: 15px !important;
	margin-right: 15px !important;
	margin-top: 15px !important;
	margin-Bottom: 15px !important;
	text-align: center !important;
	font-size: 1.4rem !important;
	background-color: #121212;
	color: white;
}

.download-container {
	color: white;
}

.packName {
	background-color: #121212;
	color: white;
}

.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

@media screen and (max-width: 420px) {
	body {
		font-size: 25px;
	}
}

@media screen and (max-width: 320px) {
	body {
		font-size: 20px;
	}
}

@media screen and (min-width: 19313px) {
	.card {
		font-size: 1rem !important;
	}
}

@media screen and (max-width: 1000px) {
	.download-container {
		position: fixed;
		width: 240px;
		height: 60px;
		bottom: 160px;
		text-align: center;
	}
	.packName {
		position: fixed;
		width: 240px;
		height: 40px;
		bottom: 75px;
		right: 75.5%;
		text-align: center;
	}
	.row {
		margin-left: 8% !important;
		margin-right: 8% !important;
		justify-content: center;
	}
}

@media screen and (max-width: 1500px) and (min-width: 1001px) {
	.download-container {
		position: fixed;
		width: 120px;
		height: 60px;
		top: 200px;
		right: 40px;
		text-align: center;
	}
	.packName {
		position: fixed;
		width: 120px;
		height: 40px;
		top: 360px;
		right: 40px;
		text-align: center;
	}
	.row {
		margin-left: 8% !important;
		margin-right: 8% !important;
		justify-content: center;
	}
}

@media screen and (min-width: 150771px) {
	.download-container {
		position: fixed;
		width: 240px;
		height: 60px;
		top: 200px;
		right: 40px;
		text-align: center;
	}
	.packName {
		position: fixed;
		width: 240px;
		height: 40px;
		top: 310px;
		right: 40px;
		text-align: center;
	}
	.row {
		margin-left: 8% !important;
		margin-right: 8% !important;
		justify-content: center;
	}
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.nav-item {
	font-family: sans-serif !important;
	color: white !important;
	background-color: transparent !important;
	font-size: 15px;
	margin-right: 10px !important;
}

.nav-item-center {
	justify-content: center;
}

.modal {
	position: fixed;
	width: 600px;
	height: 120px;
	top: 30%;
	left: 35%;
	text-align: center;
	color: black !important;
}

.information_panel {
	color: white !important;
	margin-bottom: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding-top: 5% !important;
	padding-bottom: 5% !important;
	margin-top: 10% !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
	max-width: 100% !important;
	padding-bottom: 5% !important;
}
.boxs {
  all: unset;
  font: 26px system-ui;
  color: #fff;
  height: 200%;
  width: 200%;
  padding: 6px 20px;
}
.information_text {
	text-align: left !important;
	margin-left: 5% !important;
	margin-right: 5% !important
}
.sear {
  background-color: #4654e2;
  width: 300px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {
	width: 40px !important;
}